.profile-pic-publi {
  width: 50px; /* Ajusta el tamaño deseado */
  height: 50px; /* Asegúrate de que la altura sea igual a la anchura para un aspecto cuadrado */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente sin distorsionarse */
  margin-right: 10px;
}

label {
  font-weight: bold;
  color: #929292;
  font-style: italic;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.timeline-post {
  background-color: #f4f4f4;
  border-left: 5px solid #007bff;
  padding: 15px;
  border-radius: 10px;
}

.reaction-buttons button {
  margin: 0 5px;
}
