        body,
        html {
            height: 100%;
            background: #f8f9fa;
        }

        .container-center {
            min-height: 100vh;
            /* 100% viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }

        .card-report {
            max-width: 480px;
            width: 100%;
            padding: 2rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            background: white;
            border-radius: 0.5rem;
        }

        h1,h2,
        h3,h4 {
            text-align: center;
        }

        label {
            font-weight: 600;
        }

        button[type="submit"] {
            width: 100%;
        }

        /* Ajustes responsive adicionales */
        @media (max-width: 576px) {
            .card-report {
                padding: 1.5rem 1rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 1.2rem;
            }
        }