/* Body */
body {
  background-color: #e7ecf0;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
/* nav */
.flex-container-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80%;
  padding: 10px;
  gap: 5px;
  border-bottom: 2px solid #e8e8e8;
  color: #606060;
}

.flex-container-nav-left {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  padding: 15px;
  gap: 5px;
}

.flex-container-nav-right {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding: 15px;
  gap: 5px;
}
.flex-container-border > div {
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}
/* Section usuario */

section {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 90%;
}
.flex-container-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  height: 100%;
  padding: 15px;
  margin: 10px;
  gap: 5px;
}

.flex-container-section > div {
  background: white;
  border: 3px solid #ffffff;
  border-radius: 2px;
  padding: 8px;
}

.item {
  align-self: flex-start;
  padding: 10px;
  margin: 10px;
}
.flex {
  display: flex;
  height: 100%;
  padding: 5px;
  gap: 5px;
}
.flex > div {
  align-self: center;
}

.flex-around {
  justify-content: space-around;
}
/* Editar perfil */

.flex-container-editar-perfil {

    display: flex;
    
    justify-content: center;  
    /* flex-flow: row nowrap; */ 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: center;

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
    width: 100%;

  }
